<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>

	<ul>
		<li th:text="${usuario.nombre}"></li>
		<li th:text="${usuario.apellido}"></li>
		<li th:text="${usuario.username}"></li>
		<li th:text="${usuario.password}"></li>
		<li th:text="${usuario.email}"></li>
		<li th:text="${usuario.identificador}"></li>
		<li th:text="${usuario.cuenta}"></li>
		<li th:text="${usuario.pais.codigo}"></li>
		<li
			th:text="${#calendars.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}"></li>
	</ul>

	<div>Roles</div>
	<ul>
		<li th:each="role: ${usuario.roles}" th:text="${role}"></li>
	</ul>
</body>
</html>